body { margin: 0; }

:root {
    --mainColor1: #624E83;
    --offColor1: whitesmoke;
}

/******************* <header> & <footer> *******************/

header, footer {
    display: flex; align-items: center;
    background-color: var(--mainColor1) !important;
    height: 60px; color: var(--offColor1);
}
header a { color: var(--offColor1) };
header a:hover { color: gainsboro; }
footer {
    position: relative;
    width: 100%; height: 30px;
    bottom: 0;
}

/******************* #loginScreen *******************/

#loginScreen {
    display: flex; flex-direction: row;
    background-color: var(--mainColor1);
    width: 100vw; height: 100vh;
    justify-content: center; align-items: center;
}
#loginScreen a:hover { text-decoration: none; cursor: pointer; }
#loginApp {
    background-color: var( --offColor1);
    width: 425px; height: 350px;
    text-align: center;
    border-radius: 6px; border: 1px solid darkgray;
}
#loginApp img { width: 50%; margin: 20px auto; }
#loginApp input, button {
    display: block; margin: auto;
    width: 82%; height: 40px;
    border-radius: 5px; border: 1px lightgray solid;
}
#loginApp input {
    margin: 10px auto;
}
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: lightgray;
            margin-left: 30px;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            color: lightgray;
            margin-left: 30px;
        }
        :-ms-input-placeholder { /* IE 10+ */
            color: lightgray;
            margin-left: 30px;
        }
        :-moz-placeholder { /* Firefox 18- */
            color: lightgray;
            margin-left: 30px;
        }
#loginApp button {
    background-color: #008A18;
    font-weight: bold; font-style: italic;
    color: snow;
}

/******************* #mainScreen *******************/

#mainScreen aside {
    margin: 25px auto;
}
#mainScreen aside img {
    display: block; height: 32px;
    padding-bottom: 3px;
}
#mainScreen aside .payThisBtn {
    text-decoration: underline; color: blue;
    font-style: italic; padding-left: 18px;
    cursor: pointer !important;
}
#mainScreen a:hover { cursor: pointer !important; }

.bankbalance {
    border-top: 1px solid darkgray;
    margin: 20px auto;
}
.bankbalance p {
    display: inline; font-size: 32px;
}

.activity-alert {
    display: flex; flex-direction: row;
    width: 98%; height: 40px;
    
    align-items: center;
    margin: 15px 0; padding: 5px 0;
}
.activity-alert img {
    height: 35px; padding-right: 14px;
}
.activity-alert a { color: black; }
.activity-alert a:hover { text-decoration: none; color: auto; }
.activity-alert span {
    justify-self: flex-end; justify-content: flex-end; justify-self: flex-end; text-justify: distribute-all-lines;
    color: darkslategray; 
}
.activity-alert .row {
    width: inherit;
}

.quickPay { margin-top: 50px; }

/*

    Div Hiding (Editing)

*/

#mainScreen { display: block; }
#loginScreen { display: none; }