body { margin: 0; }

:root {
    --mainColor1: #624E83;

    --offColor1: whitesmoke;
}

header, footer {
    display: flex; align-items: center;
    background-color: var(--mainColor1) !important;
    height: 60px; color: var(--offColor1);
}
header a { color: var(--offColor1) };
header a:hover { color: gainsboro; }
footer {
    width: 100%;
    position: absolute; bottom: 0;
    height: 30px; 
}

.activity-alert {
    display: flex; flex-direction: row;
    width: 98%; height: 40px;
    
    align-items: center;
    margin: 15px 0; padding: 5px 0;
}
.activity-alert img {
    height: 35px; border-radius: 100%; padding-right: 14px;
}
.activity-alert a:hover { text-decoration: none; color: auto; }
.activity-alert span {
    display: inline-block; margin-right: 1px;
}


#mainScreen aside {
    margin: 25px auto;
}
#mainScreen aside img {
    display: block; height: 32px;
    padding-bottom: 3px;
}
#mainScreen aside .payThisBtn {
    text-decoration: underline; color: blue;
    font-style: italic; padding-left: 18px;
    cursor: pointer !important;
}